<head>
    <meta charset="utf-8">
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<div class="container-fluid">
    <div class="row">
        <h4 style="margin:auto;">Visitor Data over last <b>7 days</b></h4>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
        <canvas id="myChartline"></canvas>
        </div>
        <div class="col-md-6">
        <canvas id="myChartBar"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<p id='soc' hidden>{{socinfo.id}}</p>
<script>
	var soc = document.getElementById('soc').innerHTML;
	var endpoint = '/api/'+soc;
	$.ajax({
	method: "GET",
	
	url: endpoint,
	success: function(data) {
		drawLineGraph1(data, 'myChartline');
		drawLineGraph2(data, 'myChartBar');
		console.log("drawing");
	},
	error: function(error_data) {
		console.log(error_data);
	}
	})


	function drawLineGraph1(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'line',

		// The data for our dataset
		data: {
		labels: labels,
		datasets: [{
			label: 'Allowed Visitors',
			backgroundColor: 'rgb(0, 230, 118, 0.5)',
			borderColor: 'rgb(55, 99, 132)',
			data: chartdata,
		}]
		},

		// Configuration options go here
		options: {
		scales: {
			xAxes: [{
			display: true
			}],
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}

	});
	}

	function drawLineGraph2(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.anotherdata;
	var ctx = document.getElementById(id).getContext('2d');
	var myChart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'line',

		// The data for our dataset
		data: {
		labels: labels,
		datasets: [{
			label: 'Denied Visitors',
			backgroundColor: 'rgb(237, 83, 80, 0.5)',
			borderColor: 'rgb(55, 99, 132)',
			data: chartdata,
		}]
		},

		// Configuration options go here
		options: {
		scales: {
			xAxes: [{
			display: true
			}],
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}

	});
	}
</script>
</div>
