{% extends 'main.html' %}
{% load static %}
{% block content %}

{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md-7">
        <h5 class="mx-2">Latest Visitors</h5>
        <hr>
        <div class="mx-auto card card-body">
            <table class="table">
                <thead>
                    <tr class="text-light bg-primary">
                        <th>Visitor</th>
                        <th>Entry Date</th>
                        <th>Entry Time</th>
                        <th>Temp</th>
                    </tr>
                </thead>
                {% for i in latestvisitors %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.entry_date}}</td>
                        <td>{{i.entry_time}}</td>
                        <td>{{i.temp}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-3 mx-auto">
        <br><hr>
        <div class="card border-dark mb-3">
            <div class="card-body text-light bg-primary">
              <div class="card-header">Today <b>{{today}}</b></div>
              {% if visitorstoday.count > 0 %}
              <h5 class="card-body" style="font-size:large;">Vaild entries: <b>{{percentvalid}} %</b></h5>
              <h5 class="card-body" style="font-size:large;">Avg. Temp: <b>{{avgtemp}} <sup>o</sup>C</b></h5>
              <h5 class="card-body" style="font-size:large;">Invaild entries: <b>{{percentinvalid}} %</b></h5>
              {% endif %}
            </div>
    </div>
</div>
<br>
{% include 'accounts/chart.html' %}
{% endblock content %}