{% extends 'main.html' %}
{% block content %}
<title>{% block title %}Society Profile{% endblock title %}</title>

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Society:</h5>
			<hr>
            <p>{{socinfo.name}}</p>
			<!-- Button trigger modal -->

			<a type="button" class="btn btn-outline-info text-info btn-sm btn-block" data-toggle="modal" data-target="#SocformModal">Update Info</a>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="SocformModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Update Info</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<form action="" method="POST">
				{% csrf_token %}
				{{form.as_p}}
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Save changes</button>
			</form>
		</div>
		</div>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Secretary: {{socinfo.sec_name}}</p>
			<p>Email: {{socinfo.user.email}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Address</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{socinfo.address}}</h1>
		</div>
	</div>
</div>


<br>
<!-- <div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div> -->
<br>

{% endblock content %}