<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Visits-Today">
                <div class="card-header bg-success">
                    <h5 class="card-title">Allowed Visitors</h5>
                </div>
                <div class="card-body" style="background-color:#007e33;">
                    <h3 class="card-title">{{visitorstoday}}</h3>
                </div>
            </div>
        </div>        
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="New-Visits">
                <div class="card-header bg-info">
                    <h5 class="card-title">New Visitors</h5>
                </div>
                <div class="card-body" style="background-color:#0099cc">
                    <h3 class="card-title">{{newvisitor}}</h3>
                </div>
            </div>
        </div>        
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="No-Mask">
                <div class="card-header bg-warning">
                    <h5 class="card-title">No Mask Visitors</h5>
                </div>
                <div class="card-body" style="background-color: #ff8800;">
                    <h3 class="card-title">{{nomasktoday}}</h3>
                </div>
            </div>
        </div>        
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="High-Temp">
                <div class="card-header bg-danger">
                    <h5 class="card-title">High Temperature</h5>
                </div>
                <div class="card-body" style="background-color:#cc0000">
                    <h3 class="card-title">{{temptoday}}</h3>
                </div>
            </div>
        </div>        
    </div>
</div>